<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'dashboard/sandbox/css/dashboard_base.css' %}">
    {% block custom_css %}{% endblock %}
</head>

<body>
    <div class="title-block"></div>

    <div class="main-content">
      <div class="nav-panel">
        <div class="pools-container">
          <h3 class="nav-panel-cat-title">Pools</h3>
          <div class="pools-list">
          </div>
          <button class="nav-panel-btn" type="button">Create Pool</button>
          <div class="accounts-container">
            <h3 class="nav-panel-cat-title">Accounts</h3>
            <button class="nav-panel-btn" type="button">Account Settings</button>
          </div>
        </div>
      </div>
      <div class="dashboard-panel">
        <div class="page-title-block">
          <h1 class="page-title">{{ page_title }}</h1>
        </div>
            {% block body %} {% endblock %}
      </div>
    </div>
</body>
</html>